<h2>Add a Transaction</h2>

<form action="/add_row" method="post">
	<label>Account</label>
	<input list="accounts" name="account">
	<datalist id = "accounts">
		<% for name in @account_names %>
			<option value = "<%= name %>">
		<% end %>
	</datalist><br>

	<label>Category</label>
	<input type = "text" name="category"><br>

	<label>Inflow</label>
	<input type = "text" name="inflow"><br>

	<label>Outflow</label>
	<input type = "text" name="outflow"><br>

	<label>Date</label>
	<input type = "text" name="date"><br>

	<label>Payee</label>
	<input type = "text" name="payee"><br>

	<button class = "button" type="submit">Add Entry</input>
</form>
