<!DOCTYPE html>
<html lang="en-us">
	<head>
	    <meta charset="utf-8">
	    <title>CSV Report</title>
	    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<%= yield %>
	</body>
</html>